.wrapper {
    padding: 100px;
}

.innerwrapper {
    padding-top: 100px;
}

.txtwrapper {
    padding: 1px;
}

.chptrwrapper {
    padding-top: 50px;
} 

.textcenter {
    text-align: center;
}

.backgroundwhite {
    background-color: white;
}

.bootedit1 {
    height: 200px;
    border-radius: 20px;
}

.arrow {
    list-style: circle;
}

.bootedit2 {
    height: auto;
    z-index: 1;
    border-radius: 20px;

}
.table-fill {
    background: white;
    border-radius: 20px;
    height: 700px;
    margin: auto;
    max-width: 75%;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: white;
    background: #2d2d2d;
    border-bottom: 4px solid #2d2d2d;
    border-right: 1px solid #2d2d2d;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    font-weight: 700;
}

th:first-child {
    border-top-left-radius: 20px;
}

th:last-child {
    border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #b2b2b2;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #eaeaea;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

nav {
    position: fixed;
}