
.menu {
    height: 600px;
    border-radius: 20px;
}

.conttxtbx {
    height: auto;
    border-radius: 20px;
}

.contcttitlewrrpr {
    padding-top: 30px;
    padding-bottom: 50px;
}

.contacttitle {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: linear-gradient(-180deg, #d1d1d1, #ffffff)
}

.boxlefttop {
    background-color: #ededed
}

.boxlefttop:hover {
    animation: transcolour;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.boxrighttop {
    background-color:darkgray;
}

.boxrighttop:hover {
    animation: transcolor;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.boxleftbottom {
    background-color:darkgray;
    border-bottom-left-radius: 20px;
}

.boxleftbottom:hover {
    animation: transcolor;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.boxrightbottom {
    background-color: #ededed border-bottom-right-radius: 20px;
}

.boxrightbottom:hover {
    animation: transcolour;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.slider {
   animation: unsliders 0.5s ease;
}

.slider:hover {
    animation: sliders ease-in-out forwards;
    animation-duration: 0.5s ;
}

@keyframes sliders {
    from {
        padding-left: 0;
    }

    to {
        padding-left: 20px;
    }
}
@keyframes unsliders {
    from {
        padding-left: 20px;
    }

    to {
        padding-left: 0;
    }
}
@keyframes transcolour {
    from {
        background-color: #ededed
    }

    to {

    background-color:darkgray;
    }
}

@keyframes transcolor {
    from {
    background-color:darkgray;
    }

    to {
        background-color: #ededed
    }
}
