.sub-menu-parent {
    position: relative;
}

nav {
    font-size: 140%;
    position: fixed;
    width: 100%;
    background-color: white;
}

.sub-menu {
    visibility: hidden;
    position: absolute;
    width: 130%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    border-radius: 4px;
    opacity: 0.9;
}

.sub-menu-parent:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.5s;
}

nav a {
    color: rgb(127, 127, 191);
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 85, 85);
}

nav ul,
nav ul li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav > ul {
    opacity: 0.8;
    background: rgb(176, 224, 230);
}

nav > ul > li {
    display: inline-block;
}

.sub-menu {
    background: rgb(176, 224, 230);
}

.sub-menu a {
    white-space: nowrap;
}

.filler {
    width: 1px;
    height: 10%;
}

.filler-small {
    height: 5%;
    width: 1px;
}

.filler1 {
    width: 1px;
    height: 3%;
}

.left-filler {
    float: left;
    width: 3%;
    height: 1px;
}

.right-filler {
    float: right;
    width: 3%;
    height: 1px;
}

.two {
    height: 10%;
}

.three {
    height: 60%;
}

.right_floater {
    float: right;
}

.left_floater {
    float: left;
}

.footer {
    width: 100%;
    text-align: center;
    outline: none;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
    border-radius: 4px;
    color: rgb(51, 51, 51);
    font-size: 0.6rem;
    transition: all 0.1s linear;
    opacity: 0.9;
    display: inline-block;
    background-color: aliceblue;
}

text-align-cent {
    text-align: center;
}

.bruv {
    text-decoration: none;
}

.padder {
    padding: 30px 0px 0px;
}

.userbtn {
    width: 90%;
    height: 40px;
}

#strt_img {
    height: 700px;
    width: 100%;
}

#avans_log {
    position: absolute;
    display: inline-block;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    left: 47.68%;
    top: 243px;
}

imgbox {
    height: auto;
    width: auto;
    display: block;
}

headbox {
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: black;
}

#txtbx {
    border: 1px dotted gray;
    position: absolute;
    width: 100%;
    height: 291px;
    left: 1px;
    top: 506px;
    background-color: white;
}
#divintxtbx {
    border: 1px dotted gray;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 5%;
    top: 26px;
    background-color: aliceblue;
}