@import url(https: //fonts.googleapis.com/css?family=Open+Sans);
@import url(https: //fonts.googleapis.com/css?family=Bree+Serif);

body {
    background-image: url(../IMG_files/avans_breda1.jpg);
    background-size: cover;
    background-attachment: fixed;
    animation: fadeIn 2.5s;
    animation: fadeIn 0.5s;
    <<<<<<< HEAD >>>>>>> 64a32c7e8d69ae83ac1138a2f8972f320a217fd8 z-index: 9999;
    =======>>>>>>> 46dc84e95a204f8b5a68885c3e40c5d48b4d8762
}

.Navigationblur {
    background-image: url(https: //www.ilovewallpaper.co.uk/images/i-love-wallpaper-warehouse-photographic-brick-effect-wallpaper-white-grey-ilw261454-p2671-9190_image.jpg);
        background-position:center;
    background-size: contain;
    background-attachment: fixed;
    filter: blur(2px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.sub-menu-parent {
    position: relative;
}

nav {
    font-size: 140%;
    position: fixed;
    width: 100%;
    background-color: white;
    animation: fadeIn 1s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.sub-menu {
    visibility: hidden;
    position: absolute;
    width: 130%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    border-radius: 4px;
    opacity: 0.9;
}

.sub-menu-parent:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.5s;
}

nav a {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
}

nav a:hover {
    color: #a3a3a3;
}

nav ul,
nav ul li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav > ul {
    opacity: 0.8;
    background: #000000;
}

nav > ul > li {
    display: inline-block;
}

.sub-menu {
    background: #d10000;
}

.sub-menu a {
    white-space: nowrap;
}

.filler {
    width: 1px;
    height: 10%;
}

.filler-small {
    height: 5%;
    width: 1px;
}

.filler1 {
    width: 1px;
    height: 3%;
}

.left-filler {
    float: left;
    width: 3%;
    height: 1px;
}

.right-filler {
    float: right;
    width: 3%;
    height: 1px;
}

.two {
    height: 10%;
}

.three {
    height: 60%;
}

.right_floater {
    float: right;
}

.left_floater {
    float: left;
}

text-align-cent {
    text-align: center;
}

.bruv {
    text-decoration: none;
}

.padder {
    padding: 30px 0px 0px;
}

.userbtn {
    width: 90%;
    height: 40px;
}

#strt_img {
    height: 700px;
    width: 100%;
}

#avans_log {
    position: absolute;
    display: inline-block;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    left: 47.68%;
    top: 243px;
    animation: fadeIn 2s;
    z-index: -1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

imgbox {
    height: auto;
    width: auto;
    display: block;
}

headbox {
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: black;
}

.txtbx {
    display: inline-block;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: 1px dotted gray;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 500px;
    background-color: white;
    animation: fadeIn 4s;
    z-index: -1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.txtbx1 {
    top: 1200px;
    height: 200px;
    width: 100%;
    background-color: #fcfcfc;
}

.txtbx2 {
    top: 1900px;
    height: auto;
}

.divintxtbx {
    border: 1px dotted gray;
    display: inline-block;
    width: 200px;
    height: 200px;
    left: 5%;
    top: 45px;
    background-color: #D4D4D4;
}

#autotxtbx {
    height: auto;
}

.picbxwrrpr {
    padding: 50px;
}

#txtfooter {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.block {
    display: block;
    position: absolute;
    left: 10%;
    top: 400px;
    width: 110%;
    text-align: center;
    height: 400px;
    opacity: 0.8;
}

.smallbximg {
    width: 100%;
    height: 100%;
    padding: 11px;
}

#firstbx {
    padding-left: 120px;
}

.panel-body > h1 {
    font-style: italic;
    color: #8c8c8c;
    opacity: 1.0;
}

.lefttxt {
    padding: 20px;
    left: 30px
}

.rghttxt {
    text-align: left;
    padding: 20px;
    right: 30px
}

.paddingarrwleft {
    padding-left: 70px;
    padding-top: 60px;
}

.paddingarrwrght {
    padding-left: 40px;
    padding-top: 60px;
}

#leftarrw {
    height: 80px;
    display: inline-block;

}

#rghtarrw {
    height: 80px;
    transform: rotate(180deg);
    display: inline-block;
}

#right {
    background-image: linear-gradient(to right, #fcfcfc, cornflowerblue);
}

#left {
    background-image: linear-gradient(to left, #fcfcfc, red);
}

.head {
    font-style: italic;
}

.txt {
    font-style: italic;
}



.customcont {
    top: 600px;
    height: 200px;
    background-color: white;
    display: inline-block;
}
